@import "reset";
@import "variables";


* {
	box-sizing: border-box;
}

body {
	font-size: 16px;

	.template {
		border: 1px dashed pink;
		margin: 0 auto;
		max-width: 1280px;
		width: 100%;
		// padding: 65px 80px;
	}
	.wrapper {
		// border: 1px solid pink;
		margin: 0 auto;
		max-width: 1280px;
		width: 100%;
		padding: 65px 80px;

		.header {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			.header__navbar {
				ul {
					list-style: none;
					display: flex;
					flex-direction: row;

					li {
						font-family: $Raleway;
						padding-right: 40px;

						&:last-child {
							padding-right: 0;
						}
					}
				}
			}
		}

		.hero {
			padding: 85px 0;

			.hero__body {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				margin:  30px 0 0 0;

				.hero__text {
					.title {
						font-family: $Raleway;
						font-weight: 700;
						color: $dark-blue;
						font-size: 36px;
						letter-spacing: 0;
						line-height: 60px;
					}
					.h6 {
						font-family: $O-Sans;
						font-weight: 400;
						color: $dark-blue;
						letter-spacing: 0.53px;
						line-height: 24px;
						margin-top: 6px;
						padding: 0 12px 0 0;
					}
					.hero__form {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-between;
						margin-top: 25px;
						font-family: $O-Sans;
						width: 85%;

						.hero__form-input {
							position: relative;
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							-ms-flex-wrap: wrap;
							flex-wrap: wrap;
							-webkit-box-align: stretch;
							-ms-flex-align: stretch;
							align-items: stretch;
							width: 62%;
							border: .63px solid $dark-blue;
							border-radius: 4px;

							::placeholder {
								color: #c8c8c8;
								font-size: 14px;
							}
						}
						.hero__form-btn {
							color: #fff;
							border-radius: 4px;
							box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.16);
							-webkit-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.16);
							font-family: $O-Sans;
							font-size: 16px;
    						width: 35%;
						}
					}
				}

				.hero__img {
					// width: 50%;

					img {
					// background: url(../images/illustration-1.svg);
					background-repeat: no-repeat;
					background-position: center center;
					background-size: contain;
					height: 450px;
					width: 560px;
					}
				}
			}
		}
	} // END of wrapper

	.productive {
			background: url(/app/images/bg-curve-desktop.svg) center center no-repeat;
			background-size: cover;
			// margin-top: 140px;

			.productive__wrapper {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				max-width: 1280px;
				width: 100%;
				margin: 60px auto;
				padding: 100px 0 100px 80px;
				height: 700px;

				.productive__text {
					display: flex;
					flex-direction: column;
					align-items: left;
					width: 50%;

					.title {
						font-family: $Raleway;
						font-weight: 700;
						color: $dark-blue;
						// font-size: 32px;
						letter-spacing: 0;
						line-height: 50px;
						font-size: 40px;
					}
					.h6 {
						font-family: $O-Sans;
						font-weight: 400;
						color: $dark-blue;
						line-height: 24px;
						margin-top: 14px;
						padding: 0 120px 0 0;
						font-size: 16px;
						letter-spacing: 0;
					}
					.works-link {
						// border: 1px solid green;
						margin-top: 20px;
						border-bottom: 2px solid $cyan;
						width: 28%;

						a {
							font-family: $O-Sans;
							font-size: 16px;
							color: $cyan;
							letter-spacing: 0;
						}
						img {
							width: 16px;
							height: 16px;
						}
					}
					.productive__text-card {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: space-around;
						background: #fff;
						width: 356px;
						height: 215px;
						margin-top: 60px;

					}
				}

				.productive__img {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					margin-top: 120px;
					width: 50%;

					img {
						background-repeat: no-repeat;
						background-position: center center;
						background-size: contain;
						height: 465px;
						width: 576px;
					}
				}
			}



	}
}
