@import "reset";
@import "variables";


* {
	box-sizing: border-box;
}

.wrapper {
	padding: 20px;

	.header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		font-family: $O-Sans;

		.header__logo {
			.logo {
				height: 24px;
				width: 80px;
			}
		}

		.header__navbar {
			ul {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;

				li {
					font-size: 16px;
					margin-right: 20px;
				}
			}
		}
	}

	.hero {
		padding: 60px 0;
		.hero__body {

			.hero__img {
				background: url(../../app/images/illustration-1.svg);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
				width: 100%;
				height: 225px;
			}

			.hero__text {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 40px 0;

				.title {
					font-family: $Raleway;
					color: $dark-blue;
					font-size: 24px;
					text-align: center;
					font-weight: 700;
					line-height: 32px;
				}

				.h6 {
					font-family: $O-Sans;
					color: $dark-blue;
					font-weight: 400;
					padding: 20px 0;
					font-size: 14px;
					letter-spacing: 0;
					text-align: center;
					line-height: 21px;
				}
			}

			.hero__form {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				margin-top: 25px;
				font-family: $O-Sans;
				width: 100%;

				.hero__form-input {
					position: relative;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-ms-flex-wrap: wrap;
					flex-wrap: wrap;
					-webkit-box-align: stretch;
					-ms-flex-align: stretch;
					align-items: stretch;
					width: 100%;
					border: .63px solid $dark-blue;
					border-radius: 4px;

					input.form-control {
						padding: 10px;
					}

					::placeholder {
						color: #c8c8c8;
						font-size: 14px;
					}
				}
				.hero__form-btn {
					color: #fff;
					border-radius: 4px;
					box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.16);
					-webkit-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.16);
					font-family: $O-Sans;
					font-size: 16px;
					width: 100%;
					margin-top: 15px;
					padding: 10px;
					background: $bright-blue;
				}
			}
		}
	}
	}

	.productive {

		.productive__wrapper {
			background: url(../../app/images/bg-curve-mobile.svg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			width: 100%;
			height: 1000px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 20px;

			.productive__img {
				padding: 40px 0;

				img {
					background-repeat: no-repeat;
					background-position: center center;
					background-size: contain;
					width: 320px;
					height: 240px;
				}
			}

			.productive__text {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				padding-top: 60px;

				.title {
						font-family: $Raleway;
						color: $dark-blue;
						font-size: 16px;
						text-align: center;
						font-weight: 700;
						letter-spacing: 0;
						text-align: center;
						line-height: 24px;
					}

					.h6 {
						text-align: center;
						font-family: $O-Sans;
						color: $desat-blue ;
						font-weight: 400;
						padding: 12px 0;
						font-size: 14px;
						color: #615F7E;
						letter-spacing: 0;
						text-align: center;
						line-height: 21px;
					}
			}

			.works-link {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-top: 20px;
				border-bottom: 2px solid $cyan;
				width: 35%;
				padding-bottom: 10px;

				a {
					font-family: $O-Sans;
					font-size: 14px;
					color: $cyan;
					letter-spacing: 0;
				}
				img {
					width: 16px;
					height: 16px;
					margin-left: 10px;
				}
			}

			.productive__text-card {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				background: #fff;
				width: 280px;
    			height: 190px;
				margin-top: 60px;
				padding: 30px 20px;
				border-radius: 4px;
				box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.16);
				-webkit-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.16);

				span {
						padding-top: 60px;
					}

				.productive__text--card-body {
					display: flex;
					flex-direction: column;
					padding-bottom: 60px;
					// align-items: center;
					// justify-content: center;



					.h6 {
						font-family: $O-Sans;
						text-align: left;
						padding: 0;
						font-size: 10px;
						color: #07043B;
						letter-spacing: 0.38px;
						line-height: 18.09px;
					}

					.user {
						display: flex;
						flex-direction: row;
						align-items: center;
						margin-top: 15px;

						img {
							width: 50px;
							height: 50px;
							border-radius: 50px;
						}
						.user__info {
							margin: 0 0 0 15px;

							p {
							font-size: 14px;
							letter-spacing: 0.55px;
							font-family: $Raleway;
							font-weight: 700;
							color: $dark-blue;

						}
							.small {
								font-size: 11px;
								color: $desat-blue;
								letter-spacing: 0.4px;
								line-height: 15px;
							}
						}
					}
				}
			}


		}
	}

	.access-cta {
			background: $desat-blue;
			width: 100%;
			height: 400px;
			padding: 60px 0 0 0;

			.wrapper {
				margin: 0 auto;
				padding: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				padding: 20px;

				.access-cta__desc {
					color: #fff;
					width: 100%;
					padding: 0;
					text-align: center;

					.title {
						font-family: $Raleway;
						font-weight: 700;
						font-size: 22px;
						color: #FFFFFF;
						letter-spacing: 0;
						line-height: 24px;
						padding: 0 0 20px 0;
					}

					.h6 {
						font-family: $O-Sans;
						font-weight: 400;
						font-size: 16px;
						color: #FFFFFF;
						letter-spacing: 0;
						text-align: center;
						line-height: 21px;
					}
				}

				.access-cta__form {
					// border: 1px solid red;
					width: 90%;
					padding: 0;
					margin-top: 20px;

					.access-cta__form-input {
						// background: #FFFFFF;
						// box-shadow: 2px 3px 6px 0 rgba(7,4,59,0.16);
						border-radius: 3.12px;
						font-size: 12px;
						letter-spacing: 0;
						padding: 0;

						input.form-control {
							padding: 15px 10px;
						}

						::placeholder {
							color: #c8c8c8;
							font-size: 14px;
							font-family: $O-Sans;
							padding: 15px 10px;
						}
					}

					.access-cta__form-btn {
						font-family: $O-Sans;
						padding: 10px 30px;
						margin-top: 15px;
						background: $bright-blue;
						box-shadow: 2px 3px 6px 0 rgba(7,4,59,0.16);
						border-radius: 3.12px;
						width: 100%;
						font-size: 12px;
						color: #FFFFFF;
						letter-spacing: 0;
					}


				}
			}
		} // END Access CTA

	.footer {
		background: $dark-blue;
		height: 100%;
		margin: 0 auto;
		font-family: $O-Sans;
		font-size: 14px;
		padding-bottom: 30px;

		.wrapper {
			padding-top: 60px;

			.footer__info {
				display: flex;
				flex-direction: column;

				.footer__logo {
					margin-bottom: 30px;
				}

				.footer__info-wrapper {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					color: #fff;
					padding: 0;

					.footer__info-contact {
						align-items: start;
						// padding: 20px 0;
						p {
							padding: 10px 0;

							span {
								margin-right: 10px;
							}
						}
					}
					.footer__info-links {
						// height: 100px;
						ul {
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							.links {
								padding-top: 15px;
								padding-bottom: 8px;
							}
						}
					}
				}
				.footer__info-social {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-evenly;
					margin-top: 60px;

					span {
						margin-right: 10px;

						&:last-child {
							margin-right: 0;
						}
					}
				}
			}
		}
}

@media only screen and (min-width: 1024px ) {
	body {
		font-size: 16px;

		.wrapper {
			width: 100%;
			padding: 40px;

			.header {
				padding: 20px;

				.logo {
					height: 50px;
					width: 166px;
				}
			}
			.hero {

				.hero__body {
					display: flex;
					flex-direction: row-reverse;
					align-items: center;
					justify-content: space-between;
					gap: 60px;

					.hero__img {
						width: 640px;
						height: 474px;
					}

					.hero__text {
						width: 50%;
						.title {
							font-family: $Raleway;
							font-weight: 700;
							font-size: 40px;
							letter-spacing: 0;
							line-height: 48px;

						}

						.h6 {
							font-size: 17px;
							color: $dark-blue;
							letter-spacing: 0.53px;
							line-height: 24px;
						}
					}

					.hero__form {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-between;

						.hero__form-input {
							width: 75%;
							margin-right: 30px;
						}

						.hero__form-btn {
							width: 35%;
							margin-top: 0;
							color: #fff;
							border-radius: 4px;
							box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.16);
							-webkit-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.16);
							font-family: $O-Sans;
							font-size: 16px;
						}
					}
				}
			}
		}
		// END HEADER & HERO SECTION

		.productive {
			background: url(/app/images/bg-curve-desktop.svg) center center no-repeat;
			background-size: cover;
			height: 675px;
			padding: 40px;

			.productive__wrapper {
				padding: 40px 20px;
				display: flex;
				flex-direction: row-reverse;
				align-items: flex-start;
				justify-content: space-between;
				gap: 40px;

				.productive__text {
					width: 48%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					padding-top: 0;

					.title {
						font-family: $Raleway;
						font-weight: 700;
						font-size: 28px;
						color: $dark-blue;
						letter-spacing: 0;
						margin-bottom: 15px;
					}
					.h6 {
						font-size: 14px;
						color: #07043B;
						letter-spacing: 0;
						line-height: 24px;
						text-align: left;
					}
					.works-link {
						width: 36%;
					}
				}

				.productive__img {
					background: url(../../app/images/illustration-2.svg);
					background-repeat: no-repeat;
					background-position: center center;
					background-size: contain;
					width: 50%;
					padding: 0;
					width: 650px;
					height: 555px;
				}

				.productive__text-card {
					width: 320px;
					height: 200px;
				}
			}
		}
		// END PRODUCTIVE SECTION

		.access-cta {
			background: $desat-blue;
			width: 100%;
			height: 355px;
			padding: 120px 63px;

			.wrapper {
				margin: 0 auto;
				padding: 0;
				display: flex;
				flex-direction: row;
				align-items: baseline;
				justify-content: space-between;

				.access-cta__desc {
					color: #fff;
					width: 50%;
					padding: 0 100px 0 0;

					.title {
						font-family: $Raleway;
						font-size: 32px;
						letter-spacing: 0;
						font-weight: 700;
						line-height: 48px;
						color: #fff;
						text-align: left;
					}

					.h6 {
						font-family: $O-Sans;
						font-weight: 400;
						font-size: 14px;
						color: #FFFFFF;
						letter-spacing: 0.5px;
						line-height: 24px;
						text-align: left;
					}
				}

				.access-cta__form {
					width: 50%;
					margin-top: 0;

					.access-cta__form-input {
						border-radius: 3.12px;
						font-size: 12px;
						letter-spacing: 0;
						padding: 0;

						input.form-control {
							padding: 12px 10px;
						}

						::placeholder {
							color: #c8c8c8;
							font-size: 14px;
							font-family: $O-Sans;
							padding: 15px 10px;
						}
					}

					.access-cta__form-btn {
						font-family: $O-Sans;
						padding: 10px 30px;
						margin-top: 20px;
						// background: #2F65F8;
						background: $bright-blue;
						box-shadow: 2px 3px 6px 0 rgba(7,4,59,0.16);
						border-radius: 3.12px;
						width: 38%;
					}
				}
			}
		} // END CTA SECTION

		.footer {
			background: $dark-blue;
			height: 400px;
			margin: 0 auto;
			font-family: $O-Sans;
			font-size: 14px;
			padding-bottom: 60px;

			.wrapper {
				padding-top: 100px;

				.footer__info {
					display: flex;
					flex-direction: column;

					.footer__logo {
						margin-bottom: 30px;
					}

					.footer__info-wrapper {
						display: flex;
						flex-direction: row;
						justify-content: space-around;
						align-items: center;
						color: #fff;

						.footer__info-contact {
							align-items: start;

							p {
								padding: 10px 0;
								span {
									margin-right: 10px;
								}
							}
						}

						.footer__info-links {
							ul {
								display: flex;
								flex-direction: column;
								justify-content: space-between;
								.links {
									padding-top: 15px 0 8px 0;
								}
							}
						}

						.footer__info-social {
							display: flex;
							flex-direction: row;
							align-items: center;
							justify-content: space-between;

							span {
								margin-right: 10px;

								&:last-child {
									margin-right: 0;
								}
							}
						}
					}
				}
			}
		}









	} // END BODY TAG
}

@media only screen and (min-width: 1440px) {
	.wrapper {
		padding: 40px;
	}

	.header__logo {
		width: 166px;
		height: 49px;
	}

	.wrapper {
		.hero {
			.hero__body {
				.hero__img {
					width: 640px;
					height: 474px;
				}
			}
		}
	}

	.access-cta__form {
		width: 40%;
		margin-right: 40px;
	}

	.footer {
		.wrapper {
			.footer__info {

				.footer__logo {
					padding-left: 113px;
				}
				.footer__info-wrapper {
					display: flex;
					flex-direction: row;
					justify-content: space-around;
				}
			}
		}
	}

}